groq
langchain
langchain-groq
langchain-community

sqlalchemy
psycopg2-binary

pydantic
pydantic-settings
python-dotenv

streamlit
plotly
pandas

black
ruff
mypy

pytest
pytest-cov
pytest-mock

loguru
tenacity
sqlparse
faker
